body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('frontend_graphics/background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

.container {
    text-align: center;
    width: 800px;
    margin-top: 300px;
    height: 90%;
    padding: 20px;
    border-radius: 10px;
}

.input-field {
    width: 100%; 
    font-size: 18px;
    height: 70px; 
    margin: 40px ; 
    border: 0px solid; 
    border-radius: 40px; 
    background-color: rgba(255, 255, 255, 0.2); 
    color: #333333; 
    font-size: 16px; 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    outline: none; 
    padding-left: 30px;
    font-family: 'Electrolize';
}

.input-field::placeholder{
    color: #333333;
    opacity: 1;

    font-family: 'Electrolize';
    
}
.submit-button {
    
    background: linear-gradient(to left, #06218d, rgb(94, 156, 191)); 
    background-size: 150% 150%;  
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 60px;
    transition: background-color 0.3s ease;
    width: 150px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    font-family: 'arial';
    color: lightgrey;
    animation: flowingGradient 5s infinite linear;
    transition: transform 0.3s ease;
}

.submit-button:hover {
    transform: scale(1.1);
}
@keyframes flowingGradient{
    0% {
        background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%; 
    }
}
.output-box {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0px solid;
    border-radius: 5px;
    min-height: 150px;
    gap: 20px; 
}

.output-section {
    flex: 1; 
    max-width: 45%; 
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    text-align: left;
}

.success {
    background-color: #eeeeee;
}
.error {
    background-color: rgba(249, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    padding: 10px;
    border: 0px solid #dddddd;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    height: fit-content;
    color: #ffff;
    text-align: center;
    font-weight: bold;
    height: 30px;
    border-radius: 40px;
    
    
}

.output-section h3 {
    margin-top: 0;
    font-size: 16px;
    color: #333333;
    text-align: center; 
}

.output-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.output-section li {
    padding: 5px 0;
    border-bottom: 1px solid #cccccc;
}
#data-form {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
}

