<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alerts Grid</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8000/raport.css">
       
</head>
<body>
    <div class="grid-container">
        {% for alert_name, alert_data in alerts.items() %}
        {% set alertInfoId = '_'.join(alert_name.split()).lower() + '_info' %}
        {% set alertDetailsId = '_'.join(alert_name.split()).lower() + '_details' %}
        <div id="{{ alertInfoId }}" class="alert-box">
            
            <div class="alert-info" onclick='alertBoxClick("{{ alertInfoId }}","{{ alertDetailsId }}")'>
                <div class="alert-title">{{ alert_name }}</div>
                <div class="alert-risk {{ riskClass }}"><strong>Risk:</strong> {{ alert_data['risk'] }}</div>
                <div class="alert-confidence"><strong>Confidence:</strong> {{ alert_data['confidence'] }}</div>
            </div>
            
            <div id="{{ alertDetailsId }}" class="alert-details hidden">
                <h4>{{ alert_name }} Details</h4>
                <div class="alert-risk">
                <strong>Risk:</strong> {{ alert_data['risk'] }}
                </div>


                <p><strong>Confidence:</strong> {{ alert_data['confidence'] }}</p>
                <p><strong>Description:</strong> {{ alert_data['description'] }}</p>
                <p><strong>Solution:</strong> {{ alert_data['solution'] }}</p>
                <p><strong>Reference:</strong> <a href="{{ alert_data['reference'] }}" target="_blank">{{ alert_data['reference'] }}</a></p>
                <h4>URLs:</h4>
                <ul>
                    {% for url in alert_data['urls'] %}
                    <li><a href="{{ url }}" target="_blank">{{ url }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    

    <script>

        const alertBoxClick = (alertBoxInfoId, alertDetailsId) => {
            const alertBox = document.getElementById(alertBoxInfoId);
            const alertDetails = document.getElementById(alertDetailsId);

            if (alertBox.classList.contains('expanded')) {
                    alertBox.classList.remove('expanded');
                    alertDetails.classList.remove('shown');
                    alertDetails.classList.add('hidden');
            } else {

                document.querySelectorAll('.alert-box').forEach(box => {
                    box.classList.remove('expanded');
                });
                document.querySelectorAll('.alert-details').forEach(details => {
                    details.classList.remove('shown');
                    details.classList.add('hidden');
                })
                alertBox.classList.add('expanded');
                alertDetails.classList.add('shown');
                alertDetails.classList.remove('hidden');
            }
        }
    </script>
</body>
</html>